@model BounSozluk.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostGroupId" class="control-label"></label>
                <select asp-for="PostGroupId" class="form-control" asp-items="ViewBag.PostGroupId"></select>
                <span asp-validation-for="PostGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BounSozlukUserId" class="control-label"></label>
                <input asp-for="BounSozlukUserId" class="form-control" />
                <span asp-validation-for="BounSozlukUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
